<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>second</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForwardingExampleServlet</display-name>
    <servlet-name>ForwardingExampleServlet</servlet-name>
    <servlet-class>test1.ForwardingExampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardingExampleServlet</servlet-name>
    <url-pattern>/forwardExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnotherResourceServlet</display-name>
    <servlet-name>AnotherResourceServlet</servlet-name>
    <servlet-class>test1.AnotherResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnotherResourceServlet</servlet-name>
    <url-pattern>/anotherResource</url-pattern>
  </servlet-mapping>
</web-app>